# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityMatch3-master.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\karmas\Desktop\UnityMatch3-master\UnityMatch3-master\.idea\.idea.UnityMatch3-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
