# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityMatch3Game.iml
# Datasource local storage ignored files
/../../../../../:\UnityMatch3Game\.idea\.idea.UnityMatch3Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
